server {
    listen 80;
    server_name {{ http_host }}; 

    location = /static/favicon.svg { 
        root {{ app_dir }};
    }

    location /static/ {
        root {{ app_dir }};
    }

    location / {
        proxy_pass http://unix:{{ socket }}.sock;
        include proxy_params;
    }
}