id = {{ rustdesk_id }}
password = {{ rustdesk_password }}
salt = "fbkdht"
key_pair = [[72, 29, 158, 245, 67, 80, 124, 184, 51, 49, 72, 118, 54, 239, 249, 171, 83, 89, 113, 112, 117, 88, 39, 183, 1, 207, 62, 40, 88, 33, 121, 71, 246, 95, 253, 133, 147, 209, 12, 139, 46, 162, 201, 217, 124, 120, 181, 248, 121, 116, 34, 86, 182, 152, 105, 96, 93, 176, 204, 92, 30, 156, 232, 66], [246, 95, 253, 133, 147, 209, 12, 139, 46, 162, 201, 217, 124, 120, 181, 248, 121, 116, 34, 86, 182, 152, 105, 96, 93, 176, 204, 92, 30, 156, 232, 66]]
key_confirmed = true

[keys_confirmed]


