rendezvous_server = {{ rustdesk_relay_server }}
nat_type = 1
serial = 0

[options]
relay-server = {{ rustdesk_relay_server }}
key = {{ rustdesk_key }}
custom-rendezvous-server = {{ rustdesk_relay_server }}