[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={{ ansible_ssh_user }}
Group=www-data
WorkingDirectory={{ app_dir }}
ExecStart={{ venv_dir }}/bin/gunicorn --access-logfile - --workers 3 --bind unix:{{ socket }}.sock {{ app_wsgi }}.wsgi:application

[Install]
WantedBy=multi-user.target

[Unit]
Description = {{ gunicorn_app_name }}
After = network.target
